<form action="/pages/create" method="POST">
  <h2>Create advertisement</h2>

  <div class="input-field">
    <input type="text" name="title" placeholder="Advertisement title">
  </div>

  <div class="input-field">
    <input type="text" name="text" placeholder="Advertisement text">
  </div>

  <button type="submit" class="btn">Create</button>
</form>
