.advertisement {
  margin-bottom: 1rem;
}

.advertisement span.completed {
  text-decoration: line-through;
}

.advertisement label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.advertisement i {
  z-index: 2;
}
